{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>

        <div class="alert alert-info">
            <p>{{ article.intro }}</p>
            <p>{{ article.text }}</p>
            <p><b>Дата: {{ article.date.date() }}</b></p>
            <p><b>Время: {{ article.date.time() }}</b></p>
            <a href="/posts/{{ article.id }}/update" class="btn btn-warning">Редактировать</a>
            <a href="/posts/{{ article.id }}/delete" class="btn btn-warning">Удалить</a>
        </div>
    </div>

{% endblock %}