{% extends 'base.html' %}

{% block title %}
Все статьи сайта
{% endblock %}

{% block body %}
    <div class="container">
        <center><h1>Все статьи сайта</h1></center>
    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Развернуть</a>
        </div>
        {% endfor %}
    {% else %}
        <br>
        <br>
        <br>
        <center><h3><p>Статей нет!</p></h3></center>
        {% endif %}
    </div>


{% endblock %}